.img-fluid{
    max-width: 100%;
    height: 25vh;
  }
  .nav-link
  {
    margin-left:1vw;
   
    
  }
   .hero .card-img{
    height:75vh;
    max-width:100%;
  }

  .nav-custom {
    color: black;
}
.hero1{
 height: 63vh;
}
.icon-group {
  
}
.footer1 .card
{
  background-color:red;
}
.icon-group .icon {
    
    width: 3vw;
    height:3vh;
   }